<%- include("../partials/meta")%>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
  <%-include("../partials/navbar.ejs")%>
  <p class="leading-normal font-bold text-4xl pt-20">
    Hello welcome to the Authorization Page. Thankyou for visiting :)
  </p>
</body>
