<%- include("../partials/meta")%>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
  <%-include("../partials/navbar.ejs")%>

  <div class="pt-24">
    <div
      class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center"
    >
      <div
        class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left"
      >
        <p class="uppercase tracking-loose w-full">How are you?</p>
        <h1 class="my-4 text-3xl font-bold leading-tight">
          Hello this is a Homepage, Thankyou!
        </h1>
        <p class="leading-normal text-2xl mb-8">
          Hello welcome to the homepage. Thankyou for visiting :)
        </p>
        <button
          class="mx-auto lg:mx-0 hover:bg-gray-800 bg-gray-700 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
        >
          Thank You
        </button>
      </div>
      <div class="w-full md:w-3/5 py-6 text-center">
        <img
          src="https://images.unsplash.com/photo-1677704891628-6aeb5ceb89ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80"
          class="w-full md:w-4/5 z-50"
        />
      </div>
    </div>
  </div>
</body>
